In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from tqdm.notebook import tqdm

<h5>PPP Loan Data >150K as of 2024-09-30

In [2]:
csv_path_24 = "../data/raw/>150K/public_150k_plus_240930.csv"
ppp_df_24 = pd.read_csv(csv_path_24, encoding='iso-8859-1')
ppp_df_24.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150-9662,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420-9000,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112-2922,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407-1740,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Female Owned,Non-Veteran,NaN,395264.11,09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,NaN,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021

In [3]:
ppp_df_24.shape[0]

968524

In [4]:
ppp_df_24.columns

Index(['LoanNumber', 'DateApproved', 'SBAOfficeCode', 'ProcessingMethod',
       'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate'],
      dtype='object')

In [5]:
ppp_df_24.dtypes

LoanNumber                       int64
DateApproved                    object
SBAOfficeCode                    int64
ProcessingMethod                object
BorrowerName                    object
BorrowerAddress                 object
BorrowerCity                    object
BorrowerState                   object
BorrowerZip                     object
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
SBAGuarantyPercentage            int64
InitialApprovalAmount          float64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
ServicingLenderAddress          object
ServicingLenderCity             object
ServicingLenderState            object
ServicingLenderZip              object
RuralUrbanIndicator             object
HubzoneIndicator                object
LMIIndicator                    object
BusinessAgeDescription          object
ProjectCity                     object
ProjectCountyName               object
ProjectState                    object
ProjectZip                      object
CD                              object
JobsReported                   float64
NAICSCode                      float64
Race                            object
Ethnicity                       object
UTILITIES_PROCEED              float64
PAYROLL_PROCEED                float64
MORTGAGE_INTEREST_PROCEED      float64
RENT_PROCEED                   float64
REFINANCE_EIDL_PROCEED         float64
HEALTH_CARE_PROCEED            float64
DEBT_INTEREST_PROCEED          float64
BusinessType                    object
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
Gender                          object
Veteran                         object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDate                 object
dtype: object

<h5> 2023 to 2024 Raw Data Null Comp

In [6]:
#2023 Raw Data for Comp
csv_path_23 = "../data/raw/>150K/public_150k_plus_230630.csv"
ppp_df_23 = pd.read_csv(csv_path_23, encoding='iso-8859-1')

In [7]:
pd.set_option('display.max_rows', None)
# Calculate null counts
null_counts_23 = ppp_df_23.isnull().sum().rename("Nulls_2023")
null_counts_24 = ppp_df_24.isnull().sum().rename("Nulls_2024")

# Combine into a single DataFrame
null_comparison_df = pd.concat([null_counts_23, null_counts_24], axis=1)

# Add difference column (2024 - 2023)
null_comparison_df["Difference"] = null_comparison_df["Nulls_2024"] - null_comparison_df["Nulls_2023"]

# Reset index to show column names as a column
null_comparison_df = null_comparison_df.reset_index().rename(columns={"index": "Column"})

# Display the DataFrame
print(null_comparison_df)

# Optional: Save to CSV
null_comparison_df.to_csv("../data/null/null_counts_comparison_2023_2024.csv", index=False)

                         Column  Nulls_2023  Nulls_2024  Difference
0                    LoanNumber           0           0           0
1                  DateApproved           0           0           0
2                 SBAOfficeCode           0           0           0
3              ProcessingMethod           0           0           0
4                  BorrowerName           4           4           0
5               BorrowerAddress          14          14           0
6                  BorrowerCity          12          12           0
7                 BorrowerState          13          13           0
8                   BorrowerZip          13          13           0
9                LoanStatusDate       16825       11328       -5497
10                   LoanStatus           0           0           0
11                         Term           0           0           0
12        SBAGuarantyPercentage           0           0           0
13        InitialApprovalAmount           0           0           0
14        CurrentApprovalAmount           0           0           0
15            UndisbursedAmount          46          43          -3
16                FranchiseName      930147      933117        2970
17    ServicingLenderLocationID           0           0           0
18          ServicingLenderName           0           0           0
19       ServicingLenderAddress           0           0           0
20          ServicingLenderCity           0           0           0
21         ServicingLenderState           0           0           0
22           ServicingLenderZip           0           0           0
23          RuralUrbanIndicator           0           0           0
24             HubzoneIndicator           0           0           0
25                 LMIIndicator           0           0           0
26       BusinessAgeDescription           1           1           0
27                  ProjectCity          13          13           0
28            ProjectCountyName          57          57           0
29                 ProjectState           9           9           0
30                   ProjectZip          14          14           0
31                           CD          46          46           0
32                 JobsReported           1           1           0
33                    NAICSCode        6628        6628           0
34                         Race           0           0           0
35                    Ethnicity           0           0           0
36            UTILITIES_PROCEED      627203      629157        1954
37              PAYROLL_PROCEED        1827        1832           5
38    MORTGAGE_INTEREST_PROCEED      920028      922358        2330
39                 RENT_PROCEED      866328      868998        2670
40       REFINANCE_EIDL_PROCEED      942704      945682        2978
41          HEALTH_CARE_PROCEED      908126      911087        2961
42        DEBT_INTEREST_PROCEED      933856      936821        2965
43                 BusinessType         720         713          -7
44  OriginatingLenderLocationID           0           0           0
45            OriginatingLender           0           0           0
46        OriginatingLenderCity           0           0           0
47       OriginatingLenderState           0           0           0
48                       Gender           0           0           0
49                      Veteran           0           0           0
50                    NonProfit      906202      911674        5472
51            ForgivenessAmount       26515       25463       -1052
52              ForgivenessDate       26515       25463       -1052

In [8]:
pd.reset_option('display.max_rows', None)

<b>2024 Raw Data Null Report

In [9]:
rows_with_nulls = ppp_df_24[ppp_df_24.isnull().any(axis=1)]
cols_with_nulls = ppp_df_24.columns[ppp_df_24.isnull().any()]
result = rows_with_nulls[cols_with_nulls]

# Apply highlighting to ONLY the null-containing subset
styled_result = result.style.highlight_null(color='yellow')

# display(styled_result)
with open("../data/null/highlighted_nulls_2024.html", "w") as f:
    f.write(styled_result.to_html())

<b>Null Address Update

In [9]:
# Define columns to compare
cols = ['LoanNumber', 'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState', 'BorrowerZip']
#Get null addresses from 2024 data
null_address_df = ppp_df_24.loc[ppp_df_24[cols[2:]].isnull().any(axis=1), cols]
print(f"Found {len(null_address_df)} null addresses (address, city, state, and/or zip) loan records")
display(null_address_df)

# 2024 Data Null Address Report
# Apply highlighting to ONLY the null-containing subset
null_address_df24_styled = null_address_df.style.highlight_null(color='yellow')

# display(styled_result)
with open("../data/null/highlighted_nulls_addresses_2024.html", "w") as f:
    f.write(null_address_df24_styled.to_html())

Found 20 null addresses (address, city, state, and/or zip) loan records

In [10]:
#Read in address updated 2023 data
ppp_df_23_address = pd.read_csv("../data/raw/>150K/public_150k_plus_230630_add.csv", index_col=0)
ppp_df_23_address.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate,FullAdd,ServicingLenderFullAddress
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,SC,29150-9662,12/18/2020,...,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020,"2410 Highway 15 South, Sumter, SC","1148 Broadway, COLUMBUS, GA"
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,SC,29420-9000,09/28/2021,...,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021,"7684 Southrail Road, North Charleston, SC","1148 Broadway, COLUMBUS, GA"
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,WA,98112-2922,03/17/2021,...,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021,"1850 BOYER AVE E, SEATTLE, WA","100 N Tryon St, Ste 170, CHARLOTTE, NC"
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,CA,92407-1740,10/16/2021,...,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN,395264.11,09/10/2021,"1661 MARTIN RANCH RD, SAN BERNARDINO, CA","100 N Tryon St, Ste 170, CHARLOTTE, NC"
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,Not Available,Not Available,Not Available,NaN,08/17/2021,...,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021,"Not Available, Not Available, Not Available","17 S High St., COLUMBUS, OH"

<b> SxS 2023 x 2024 Address Null Comp

In [11]:
# SxS Diff
null_loan_numbers = null_address_df['LoanNumber']
#Filter the previous year's data for matching loans
matching_addresses = ppp_df_23_address[ppp_df_23_address['LoanNumber'].isin(null_loan_numbers)][cols]  # Using the same columns as before
print(f"Found {len(matching_addresses)} matching loan records")

#Merge for side-by-side comparison
comparison_df = pd.merge(
    null_address_df,
    matching_addresses,
    on='LoanNumber',
    how='left',
    suffixes=('_2024', '_2023'))
    
#Highlight differences
def highlight_diff(row):
    styles = [''] * len(row)
    for i, col in enumerate(cols[1:]):  # Skip LoanNumber
        if row[f'{col}_2024'] != row[f'{col}_2023']:
            styles[i+1] = 'background-color: yellow'
    return styles

styled_comparison = comparison_df.style.apply(highlight_diff, axis=1)
display(styled_comparison)

Found 20 matching loan records

<b>Naming Consistency: Borrower Name

In [12]:
# Clean &AMP; in both DataFrames before processing
# Create a report of affected names before cleaning
amp_report = ppp_df_24[ppp_df_24['BorrowerName'].str.contains('&AMP;', na=False)][['LoanNumber', 'BorrowerName']].copy()
amp_report['CleanedName'] = amp_report['BorrowerName'].str.replace('&AMP;', '&')

# Clean both DataFrames
ppp_df_24['BorrowerName'] = ppp_df_24['BorrowerName'].str.replace('&AMP;', '&')
ppp_df_23_address['BorrowerName'] = ppp_df_23_address['BorrowerName'].str.replace('&AMP;', '&')

ppp_df_24.loc[ppp_df_24["LoanNumber"] == 9712177706, 'BorrowerName'] = "COMPLETE WELDING & FABRICATION INC"

# Save AMP cleaning report
amp_report.to_html('../data/null/reports/df20240930_amp_cleaning_report.html', index=False)

cleanamp_check = ppp_df_24[ppp_df_24['BorrowerName'].astype(str).str.contains("&AMP;")]
cleanamp_check.head()

Empty DataFrame
Columns: [LoanNumber, DateApproved, SBAOfficeCode, ProcessingMethod, BorrowerName, BorrowerAddress, BorrowerCity, BorrowerState, BorrowerZip, LoanStatusDate, LoanStatus, Term, SBAGuarantyPercentage, InitialApprovalAmount, CurrentApprovalAmount, UndisbursedAmount, FranchiseName, ServicingLenderLocationID, ServicingLenderName, ServicingLenderAddress, ServicingLenderCity, ServicingLenderState, ServicingLenderZip, RuralUrbanIndicator, HubzoneIndicator, LMIIndicator, BusinessAgeDescription, ProjectCity, ProjectCountyName, ProjectState, ProjectZip, CD, JobsReported, NAICSCode, Race, Ethnicity, UTILITIES_PROCEED, PAYROLL_PROCEED, MORTGAGE_INTEREST_PROCEED, RENT_PROCEED, REFINANCE_EIDL_PROCEED, HEALTH_CARE_PROCEED, DEBT_INTEREST_PROCEED, BusinessType, OriginatingLenderLocationID, OriginatingLender, OriginatingLenderCity, OriginatingLenderState, Gender, Veteran, NonProfit, ForgivenessAmount, ForgivenessDate]
Index: []

[0 rows x 53 columns]

In [13]:
# Update Code

address_cols = ['BorrowerAddress', 'BorrowerCity', 'BorrowerState', 'BorrowerZip']
report_datetime = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

# Create a copy of the original data for reporting
original_values = ppp_df_24[ppp_df_24[address_cols].isnull().any(axis=1)].copy()

# Get indices of rows with null addresses
null_indices = ppp_df_24[ppp_df_24[address_cols].isnull().any(axis=1)].index

# Update values directly in ppp_df_24
updated_records = []
for idx in null_indices:
    row = ppp_df_24.loc[idx]
    match = ppp_df_23_address[
        (ppp_df_23_address['LoanNumber'] == row['LoanNumber']) &
        (ppp_df_23_address['BorrowerName'] == row['BorrowerName'])
    ]
    
    changes = {}
    if not match.empty:
        for col in address_cols:
            if pd.isnull(row[col]) and not pd.isnull(match[col].values[0]):
                # Store original value for reporting
                original_value = row[col]
                # Update the main DataFrame
                ppp_df_24.at[idx, col] = match[col].values[0]
                changes[col] = {
                    'from': 'NULL' if pd.isnull(original_value) else original_value,
                    'to': match[col].values[0]
                }
    
    if changes:
        updated_records.append({
            'LoanNumber': row['LoanNumber'],
            'BorrowerName': row['BorrowerName'],
            'changes': changes
        })

# Generate HTML report (same as before)
html_content = f"""
<html>
<head>
    <title>Address Field Updates Report</title>
    <style>
        body {{ font-family: Arial, sans-serif; margin: 20px; }}
        h1 {{ color: #2c3e50; }}
        .report-info {{ margin-bottom: 20px; }}
        table {{ border-collapse: collapse; width: 100%; margin-bottom: 20px; }}
        th, td {{ border: 1px solid #ddd; padding: 8px; text-align: left; }}
        th {{ background-color: #f2f2f2; }}
        .null {{ color: #999; font-style: italic; }}
        .changed {{ background-color: #fffacd; }}
        .summary {{ background-color: #f8f9fa; padding: 15px; border-radius: 5px; }}
    </style>
</head>
<body>
    <h1>Address Field Updates Report</h1>
    <div class="report-info">
        <p><strong>Report generated:</strong> {report_datetime}</p>
        <p><strong>Total records with nulls:</strong> {len(null_indices)}</p>
        <p><strong>Records updated:</strong> {len(updated_records)}</p>
        <p><strong>Source file:</strong> public_150k_plus_230630_add.csv</p>
        <p><strong>Target file:</strong> public_150k_plus_240930.csv</p>
    </div>
    <table>
        <tr>
            <th>LoanNumber</th>
            <th>BorrowerName</th>
            <th>Field</th>
            <th>Original Value</th>
            <th>Updated Value</th>
        </tr>
"""

for record in updated_records:
    for field, change in record['changes'].items():
        html_content += f"""
        <tr>
            <td>{record['LoanNumber']}</td>
            <td>{record['BorrowerName']}</td>
            <td>{field}</td>
            <td class="null">{change['from']}</td>
            <td class="changed">{change['to']}</td>
        </tr>
        """

html_content += """
    </table>
</body>
</html>
"""

# Save HTML report
report_filename = f"df09302024_address_updates_report_{datetime.now().strftime('%Y%m%d_%H%M%S')}.html"
report_path = f"../data/null/reports/{report_filename}"
with open(report_path, "w") as f:
    f.write(html_content)

print(f"Updated {len(updated_records)} address records in main DataFrame")
print(f"HTML report saved to: {report_path}")

# Verify updates in main DataFrame
print("\nSample of updated records in main DataFrame:")
display(ppp_df_24.loc[null_indices, ['LoanNumber', 'BorrowerName'] + address_cols].head())

Updated 19 address records in main DataFrame
HTML report saved to: ../data/null/reports/df09302024_address_updates_report_20250723_223807.html

Sample of updated records in main DataFrame:

,LoanNumber,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip
0,9547507704,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,SC,29150-9662
1,9777677704,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,SC,29420-9000
2,5791407702,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,WA,98112-2922
3,6223567700,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,CA,92407-1740
4,9662437702,AERO BOX LLC,Not Available,Not Available,Not Available,NaN

In [14]:
null_address_df_check = ppp_df_24.loc[ppp_df_24[cols[2:]].isnull().any(axis=1), cols]
print(f"Found {len(null_address_df_check)} null addresses (address, city, state, and/or zip) loan records")
display(null_address_df_check)
#Note: BorrowerZip kept as NaN since it is an integer type

Found 13 null addresses (address, city, state, and/or zip) loan records

,LoanNumber,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip
4,9662437702,AERO BOX LLC,Not Available,Not Available,Not Available,NaN
5,9774337701,HUDSON EXTRUSIONS INC.,Not Available,Not Available,Not Available,NaN
7,9722187702,MIAMITOWN AUTO PARTS AND RECYCLING INC,Not Available,Not Available,Not Available,NaN
8,9725917702,POPPYCOCKS INC,Not Available,Not Available,Not Available,NaN
9,9666867710,CHURCH SQUARE PHARMACY INC,Not Available,Not Available,Not Available,NaN
10,9662697710,"MILFAST INDUSTRIAL SUPPLY, INC",Not Available,Not Available,Not Available,NaN
11,9724667708,FERNANDINA BEACH HOTEL GROUP LLC,Not Available,Not Available,Not Available,NaN
12,9672967701,OTTAWA PRODUCTS CO INC,Not Available,Not Available,Not Available,NaN
158723,2030257707,ROMUALD Z JOVERO DBA R & B INTERNATIONAL OR SA...,1105 East Plaza Blvd. Suite A,National City,CA,NaN
665654,1681327703,PETREY AB CORP.,2041 Park St,ATLANTIC BEACH,NY,NaN
836953,7837227702,WESLEY COMMUNITY CENTER INC. OF HOUSTON TEXAS,1410 Lee Street,Houston,TX,NaN
848111,3192617705,FOUNDATION FOR INSPIRATION AND,2541 SOUTH IH-35 SUITE 200-263,Round Rock,TX,NaN
885400,2491137709,"PATRIOT PLACE & FINISH, LLC",261 FLOWER RIDGE DR,FORT WORTH,TX,NaN